SECRET_KEY={{ secret_key }}
JWT_SECRET_KEY={{ jwt_secret }}
FLASK_ENV=production
DB_HOST=localhost
DB_PORT=5432
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASS={{ db_pass }}
LDAP_SERVER={{ ldap_server }}
LDAP_SERVER2={{ ldap_server2 }}
LDAP_DOMAIN={{ domain }}
LDAP_BASE_DN={{ ldap_base }}
LDAP_BIND_USER={{ ldap_bind_user }}
LDAP_BIND_PASS={{ ldap_bind_pass }}
MFA_ISSUER={{ mfa_issuer }}
ADMIN_PASSWORD={{ admin_password }}
